body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}
header{
    background-color: #333;
    color: pink;
    padding: 15px 20 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    margin-left: auto;
}
.hero-area{
    background-image: cover;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0, 1);
}